@import "./mixins";

%h1 {
  font-family: var(--font-hoves-pro), sans-serif;
  font-size: 2.8vw;
  font-style: normal;
  font-weight: 500;
  line-height: 142%;
  text-transform: uppercase;
  letter-spacing: normal;
}

.super-text {
  font-family: var(--font-hoves-pro), sans-serif;
  font-size: 4.7vw;
  font-style: bold;
  line-height: 90%;
  text-transform: uppercase;
  letter-spacing: normal;
}

%h2 {
  font-family: var(--font-hoves-pro), sans-serif;
  font-size: 2vw;
  font-style: bold;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
}

%body-text {
  font-family: var(--font-hoves-pro), sans-serif;
  font-size: VW(16);
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.01vw;
  
  @include forMobile {
    font-size: VW(14, $mobile);
    letter-spacing: normal;
  }
}

.small-text {
  font-family: var(--font-hoves-pro), sans-serif;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.03vw;
}

%link {
  @extend %body-text;
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase
}

.body {
  @extend %body-text;

  h1 {
    @extend %h1;
  }

  h2 {
    @extend %h2;
  }

  a {
    @extend %link;
  }
}
